[submodule "hub"]
	path = hub
	url = https://github.com/github/hub.git
[submodule "ghi"]
	path = ghi
	url = https://github.com/stephencelis/ghi
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark
[submodule "colordiff.py"]
	path = colordiff.py
	url = https://github.com/cben/colordiff.py
[submodule "gnu-parallel"]
	path = gnu-parallel
	url = git://git.savannah.gnu.org/parallel.git
[submodule "speedtest-cli"]
	path = speedtest-cli
	url = https://github.com/sivel/speedtest-cli
[submodule "e"]
	path = e
	url = https://github.com/knu/e
[submodule "hr"]
	path = hr
	url = https://github.com/LuRsT/hr
[submodule "retext"]
	path = retext
	url = https://github.com/retext-project/retext
[submodule "jupyter-sidecar"]
	path = jupyter-sidecar
	url = https://github.com/nteract/jupyter-sidecar
[submodule "fedy"]
	path = fedy
	url = https://github.com/folkswithhats/fedy
[submodule "unicode"]
	path = unicode
	url = https://github.com/cben/unicode
#        branch = unicodedata-redhat
[submodule "jo"]
	path = jo
	url = https://github.com/jpmens/jo
