[submodule "hub"]
	path = hub
	url = https://github.com/github/hub.git
[submodule "ghi"]
	path = ghi
	url = https://github.com/stephencelis/ghi
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark
[submodule "colordiff.py"]
	path = colordiff.py
	url = https://github.com/cben/colordiff.py
