[submodule "hub"]
	path = hub
	url = https://github.com/github/hub.git
[submodule "ghi"]
	path = ghi
	url = https://github.com/stephencelis/ghi
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark
[submodule "colordiff.py"]
	path = colordiff.py
	url = https://github.com/cben/colordiff.py
[submodule "gnu-parallel"]
	path = gnu-parallel
	url = git://git.savannah.gnu.org/parallel.git
[submodule "speedtest-cli"]
	path = speedtest-cli
	url = https://github.com/sivel/speedtest-cli
[submodule "e"]
	path = e
	url = https://github.com/knu/e
[submodule "hr"]
	path = hr
	url = https://github.com/LuRsT/hr
[submodule "retext"]
	path = retext
	url = https://github.com/retext-project/retext
[submodule "jupyter-sidecar"]
	path = jupyter-sidecar
	url = https://github.com/nteract/jupyter-sidecar
[submodule "fedy"]
	path = fedy
	url = https://github.com/folkswithhats/fedy
[submodule "unicode"]
	path = unicode
	url = https://github.com/cben/unicode
#        branch = unicodedata-redhat
[submodule "jo"]
	path = jo
	url = https://github.com/jpmens/jo
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build
[submodule "unitedrpms.github.io"]
	path = unitedrpms.github.io
	url = https://github.com/UnitedRPMs/unitedrpms.github.io/
[submodule "rotate-screen"]
	path = rotate-screen
	url = https://gist.github.com/rubo77/daa262e0229f6e398766
[submodule "yq"]
	path = yq
	url = https://github.com/jim80net/yq
[submodule "ungit"]
	path = ungit
	url = https://github.com/FredrikNoren/ungit
[submodule "stderred"]
	path = stderred
	url = https://github.com/sickill/stderred
[submodule "outline-grep"]
	path = outline-grep
	url = https://github.com/mbrubeck/outline-grep
[submodule "exa"]
	path = exa
	url = https://github.com/ogham/exa
[submodule "ungit-gitsvn"]
	path = ungit-gitsvn
	url = https://github.com/Fabbi/ungit-gitsvn
[submodule "git-svn-clone-externals"]
	path = git-svn-clone-externals
	url = https://github.com/andrep/git-svn-clone-externals
[submodule "Solaar"]
	path = Solaar
	url = https://github.com/pwr/Solaar
[submodule "di"]
	path = di
	url = https://github.com/cben-githgmirror/di
[submodule "FiraCode"]
	path = FiraCode
	url = https://github.com/tonsky/FiraCode
	shallow = true
[submodule "monoid"]
	path = monoid
	url = https://github.com/larsenwork/monoid
	shallow = true
[submodule "Iosevka"]
	path = Iosevka
	url = https://github.com/be5invis/Iosevka/
	branch = gh-pages
	shallow = true
[submodule "bat"]
	path = bat
	url = https://github.com/sharkdp/bat
[submodule "ponysay"]
	path = ponysay
	url = https://github.com/erkin/ponysay
[submodule "httpstat"]
	path = httpstat
	url = https://github.com/reorx/httpstat
